*{
    box-sizing: border-box;
}
body{
    background: #CADFEF;
    font-family:'Quicksand', sans-serif; 
    margin: 0;
    padding: 0; 
}

h1{
    font-size: 5em;
    font-weight: bolder;
}
h2{
    font-weight: bold;
}


.header {
    background: #CADFEF;
    height: 15em; 
    display: flex;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
}
  
  .navbar {
    text-align: right;
    margin-left: auto;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 20px;
    transition: 0.5s;
  }
  
  .navbar a :hover{
    background-color: #A9C7B6;
    border-radius: 30%;
    transition-duration: 0.5s;
  }
  .Logo {
    width: 15em; /* Juster som nødvendigt */
    height: auto;
}
  
@media screen and (max-width: 600px) {
    .header {
        height: auto; 
        flex-direction: column;
    }

    .navbar {
        text-align: center; 
        margin: 20px ; 
    }

    .Logo {
        width: 100%; 
    }
}
 


.start {
    background-color: #A9C7B6;
    border-radius: 50% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;
}

.starts{
    text-align: right;
    padding-right: 130px;
    padding-bottom: 20px;
}
.starttekst{
    text-align: right;
    padding-right: 130px ;
    padding-bottom: 70px;
}
.forside{
    align-items: start;
    padding-left: 50px;
    width: 500px;
}


@media only screen and (max-width: 600px) {
    .start {
        flex-direction: column; 
    }

    .starts,
    .starttekst {
        text-align: center; 
        padding-right: 0;
        font-size: 3em; 
    }

    .forside {
        padding-left: 0;
        display: none; 
    }
}
.mig {
    background-color: #CADFEF;
    width: 100%;
    padding: 70px 0;
    text-align: center;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}

.ommig-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.ommigbillede {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.ommigtekst {
    text-align: left;
}



  .ommigunder ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }

  .ommigunder ul li {
    margin-bottom: 5px; 
  }
  @media screen and (max-width: 600px) {
    .ommig-container {
        padding: 20px;
        flex-direction: column-reverse;
    }

    .ommigtekst {
        text-align: left;
    }


    .ommigbillede {
        max-width: 100%;
    }
}

.content {
    background-color: #A9C7B6;
    text-align: center;
    font-size: 150%;
    padding: 30px;
    border-radius: 40% 30%;
}

.liste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}


.image-container {
    position: relative;
    overflow: hidden;
    width: auto; 
    height: 300px; 
    border-radius: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A9C7B6;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.overlay h2 {
    font-size: 100%;
}
.overlay p {
    font-size: 75%;
}

@media only screen and (max-width: 600px){
    .liste{
        grid-template-columns:repeat(1, 1fr) ;
    }
    .image-container{
        width: auto;
    }
}

.image-container:hover .overlay {
    opacity: 1;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.kontakt {
    background-color: #CADFEF;
}

.kontakt-box {
    background: #fff;
    display: flex;
    flex-direction: column; 
}

.kontakt-left {
    flex-basis: 100%; 
    padding: 20px; 
    text-align: left;
}
.kontakt-right {
    flex-basis: 100%; 
    padding: 20px; 
    text-align: left;
    background: #A9C7B6;
}

.imput-row {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

.imput-row .input-group {
    flex-basis: 100%; 
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;

}
textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 20%; 
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    background-color: #A9C7B6;

}

.kontakt-left h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
.kontakt-right h3 {
    font-weight: 600;
    margin-bottom: 20px; 
}

tr td {
    padding-right: 20px;
    padding-top: 20px;
}


@media (min-width: 600px) {
    .kontakt-box {
        flex-direction: row; 
    }

    .kontakt-left {
        flex-basis: 60%;
    }

    .kontakt-right {
        flex-basis: 40%;
    }

    .imput-row {
        flex-direction: row; 
    }

    .imput-row .input-group {
        flex-basis: 45%;
    }
}

 

   


 .footer{
    background-color: #A9C7B6;
    width: 100%;
    padding: 70px 30px 20px;
}
.socialicons{
     display: flex;
     justify-content: center;
     flex-direction: row;
}
.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #CADFEF;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i {
    font-size: 2em;
    color:black;
    opacity: 0.9;
}
.footernav{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}
     

.footernav a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerbottom{
    padding: 20px;
    text-align: center;
}
.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media screen and (max-width: 600px) {
    .footernav {
        flex-direction: column;
        align-items: center;
    }

    .footernav a {
        margin: 10px;
    }
}
